rvm:
  - 1.9.3
  - 2.0.0
  - 2.1

bundler_args: --jobs 7

branches:
  only:
    - master

before_install:
  - export USE_SYSTEM_GECODE=1
  - sudo apt-get -y install libgecode-dev

script: bundle exec rake travis:ci

notifications:
  hipchat:
    on_change: true
    on_failure: true
    on_success: false
    on_pull_requests: false
    rooms:
      # Build Statuses
      - secure: Hh+4hhTO67a1+TOxlq1x6WtKWSx7c47YFuQWtCNEEk8u0ouwqVfKqxoc7FtPIJbZDNH0UqQCMXBq4t86a+JLtrP47Lk8z1L1ohnxb+vlqdNRRo2z0Z27/ji3J/VEmE4fCJ5r5/nJVVkjv5lHklQCHHr29ZJKuGZbRvVv6AkVMWc=
      # Release Engineering
      - secure: nMkt6FPinXoxHIZruEqbL3NHexhrP1ih9yKYDKiX4+koQkF9vAUmnuzYXO90XHhIQqOdgsS6WpES/rtoeDevH122YDnZr5oenJcjgDZZQ6+6J+J1refTdkTwp/bC5NkquY8e1ACO98PUdM32CYIdtD5g+M4MODcdr/3SjL+1QlU=
